[Desktop Entry]
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=send
X-KDE-Submenu[ru]=Отправить
Actions=thunderbird;

[Desktop Action thunderbird]
Name=thunderbird
Name[ru]=Отправить с thunderbird
Icon=mozilla-thunderbird
Exec=thunderbird -P guest -compose "attachment=file://%U"
