[Unit]
Description=DHCPv4 Server Daemon
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/dhcpd
ExecStart=/usr/sbin/dhcpd -d -cf $CONFIGFILE -lf $LEASEFILE $OPTIONS $INTERFACES
Restart=on-failure
RestartSec=20

[Install]
WantedBy=multi-user.target
