[Unit]
Description=Network File System Server
Requires=var-lib-nfs-rpc_pipefs.mount pcbind.service
After=network.target named.service 

[Install]
WantedBy=multi-user.target
