[Desktop Entry]
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Type=Service
Actions=md5sum;shred;

[Desktop Action md5sum]
Name=md5sum
Name[ru]=Контрольная сумма md5
Icon=file_tools_section
Exec=kdialog --msgbox $(md5sum %f)

[Desktop Action shred]
Name=shred
Name[ru]=Удалить и затереть (shred)
Icon=trash-empty
Exec=permtest shred -u -f -z -n7 %U

