[Desktop Entry]
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-xzm;
Type=Service
Actions=xzm2dir;

[Desktop Action xzm2dir]
Name=xzm2dir
Name[ru]=Распаковать модуль
Icon=application-x-xzm-compressed-tar
Exec=kdesu -c "mkdir $(echo %f | awk -F. '{print $1}') && xzm2dir %f $(echo %f | awk -F. '{print $1}')"
