[Desktop Entry]
X-KDE-Solid-Predicate=[StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Audio']
Actions=QmmpPlayCD;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action QmmpPlayCD]
Name=Play Audio CD/DVD
Name[ru]=Прослушать Аудио диск
Exec=qmmp %d
Icon=qmmp
