Dialog {}

#panel {
    background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #eefff1, stop:1 #dbebde);
    border: 1px solid #B0B0B0;
}

#closeButton {
  qproperty-icon: url(lxqt-runner/close-48x48.png);
}

#commandList {
  border: none;
  margin: 0 1px 1px 1px;
}
