#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=/usr/sbin/halt.pre Compatibility
ConditionFileIsExecutable=/usr/sbin/halt.pre
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/halt.pre
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=halt.target poweroff.target
