CONFIG_NR_CPUS=32
CONFIG_HZ_300=y
# CONFIG_HZ_1000 is not set
CONFIG_HZ=300
# CONFIG_INFINIBAND is not set
# CONFIG_ARCNET is not set
# CONFIG_ATM_DRIVERS is not set
# CONFIG_BLK_DEV_DRBD is not set
# CONFIG_FUSION is not set
# CONFIG_FDDI is not set
# CONFIG_WAN is not set
# CONFIG_CAPI_AVM is not set
# CONFIG_CAPI_EICON is not set
