
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PulseAudio Sound System
Name[as]=PulseAudio শব্দ ব্যৱস্থা
Name[bn_IN]=PulseAudio শব্দ ব্যবস্থা
Name[ca]=Sistema de so PulseAudio
Name[es]=Sistema de Sonido PulseAudio
Name[fi]=PulseAudio-äänijärjestelmä
Name[gu]=PulseAudio સાઉન્ડ સિસ્ટમ
Name[it]=Sistema sonoro PulseAudio
Name[kn]=PulseAudio ಧ್ವನಿ ವ್ಯವಸ್ಥೆ
Name[mr]=PulseAudio आवाज प्रणाली
Name[or]=PulseAudio ଧ୍ୱନି ତନ୍ତ୍ର
Name[pl]=System dźwięku PulseAudio
Name[sr]=PulseAudio звучни систем
Name[sr@latin]=PulseAudio zvučni sistem
Name[ta]=பள்ஸ் ஆடியோ ஒலி கணினி
Name[te]=PulseAudio శబ్దపు సిస్టమ్
Name[zh_CN]=PulseAudio 声音系统
Comment=Start the PulseAudio Sound System
Comment[as]=PulseAudio শব্দ ব্যৱস্থা আৰম্ভ কৰা হ'ব
Comment[bn_IN]=PulseAudio শব্দ ব্যবস্থা আরম্ভ করা হবে
Comment[ca]=Inicialitza el sistema de so PulseAudio
Comment[es]=Iniciar el Sistema de Sonido PulseAudio
Comment[fi]=Käynnistä PulseAudio-äänijärjestelmä
Comment[gu]=PulseAudio સાઉન્ડ સિસ્ટમને શરૂ કરો
Comment[it]=Avvia il sistema sonoro PulseAudio
Comment[kn]=PulseAudio ಧ್ವನಿ ವ್ಯವಸ್ಥೆಯನ್ನು ಆರಂಭಿಸಿ
Comment[mr]=PulseAudio आवाज प्रणाली सुरू करा
Comment[or]=PulseAudio ଧ୍ୱନି ତନ୍ତ୍ରକୁ ଆରମ୍ଭ କରନ୍ତୁ
Comment[pl]=Uruchomienie systemu dźwięku PulseAudio
Comment[sr]=Покрени PulseAudio звучни систем
Comment[sr@latin]=Pokreni PulseAudio zvučni sistem
Comment[ta]=பள்ஸ் ஆடியோ ஒலி கணினியை துவக்கவும
Comment[te]=PulseAudio శబ్దపు సిస్టమ్‌ను ప్రారంభించుము
Comment[zh_CN]=启动 PulseAudio 声音系统
Exec=start-pulseaudio-x11
Terminal=false
Type=Application
Categories=
GenericName=
X-GNOME-Autostart-Phase=Initialization
Name[ru_RU]=PulseAudio Sound System
Comment[ru_RU]=Start the PulseAudio Sound System
X-GNOME-Autostart-enabled=false
