#!/bin/bash
#
# magosctl      Helper script for MagOS Linux Live.
#
# Authors:	Mikhail Zaripov <m3for@mail.ru>
#
ENABLED=yes
[ "$ENABLED" != "yes" ] && exit 0

cd $HOME
NOEXEC="i3term:xbindkeys;i3term:fusion-icon;i3term:magosupdate"
USER=$(basename $HOME)

. /usr/lib/magos/functions
. /usr/lib/magos/os-config
. /etc/MagOS/config

NOEXEC=$(echo " $NOEXEC " | tr ',;' ' ')

DE=$(detectDE)

# We have to launch some rc scripts
for a in /usr/lib/magos/rc.desktop/$DE/* ;do
   [ -x $a ] && $a & 2>/dev/null
done
for a in /usr/lib/magos/rc.desktop/all/* ;do
   echo "$NOEXEC" |  grep -q " $(basename $a) " && continue
   echo "$NOEXEC" |  grep -q " $DE:$(basename $a) " && continue
   [ -x $a ] && $a & 2>/dev/null
done

echo 1 > /run/magos_started

wait
