[Desktop Entry]
Name=LZM Module (De)activation
Name[ru]=Подключение и отключение модулей LZM
Exec=gactivate %F
Terminal=false
Type=Application
StartupNotify=false
Categories=GTK;
MimeType=application/x-lzm;
NoDisplay=true
