source /boot/grub/magos/gfxmenu.cfg
set theme=/boot/grub/magos/theme/theme_ru.txt
export theme

if test -f /isomode ;then
menuentry "MagOS Linux - Загрузка с ISO образа" {
        linux /MagOS/vmlinuz vga=791 splash=silent plymouth.enable=1 logo.nologo vt.global_cursor_default=0 uird.force scantimeout=3
        initrd /MagOS/uird.magos.cpio.xz
}
fi

menuentry "MagOS Linux - С сохранением данных" {
        if test ! -d /MagOS ;then search --set=root --no-floppy --file /MagOS/MagOS.sgn ; fi
        linux /MagOS/vmlinuz vga=791 splash=silent plymouth.enable=1 logo.nologo vt.global_cursor_default=0 uird.home=home.img uird.mode=machines
        initrd /MagOS/uird.magos.cpio.xz
}

menuentry "MagOS Linux - Чистый режим" {
        if test ! -d /MagOS ;then search --set=root --no-floppy --file /MagOS/MagOS.sgn ; fi
        linux /MagOS/vmlinuz vga=791 splash=silent plymouth.enable=1 logo.nologo vt.global_cursor_default=0
        initrd /MagOS/uird.magos.cpio.xz
}

#menuentry "Перейти в Grub4Dos"  { echo 'Переходим в меню Grub4Dos …' 
#		linux /boot/grub4dos/grub.exe --config-file=/boot/grub4dos/local/menu.lst
#}
#menuentry "Перейти в Grub4Dos альтернативный вариант"  { echo 'Переходим в меню Grub4Dos …' 
#		ntldr /boot/grub4dos/magos.ldr
#}
#menuentry "MagOS Linux - С сохранением данных (initrd)" {
#        if test ! -d /MagOS ;then search --set=root --no-floppy --file /MagOS/MagOS.sgn ; fi
#        linux /MagOS/vmlinuz  root=/dev/ram0 rw vga=791 splash=silent plymouth.enable=0 home=home.img changes=xzm
#        initrd /MagOS/initrd.gz
#}
#
#menuentry "MagOS Linux - Чистый режим (initrd)" {
#        if test ! -d /MagOS ;then search --set=root --no-floppy --file /MagOS/MagOS.sgn ; fi
#        linux /MagOS/vmlinuz vga=791 splash=silent plymouth.enable=0 root=/dev/ram0 rw 
#        initrd /MagOS/initrd.gz
#}

if test -f /boot/grub/magos/grub_loc.cfg ;then
menuentry "Стороннее" {
        configfile /boot/grub/magos/grub_loc.cfg
}
fi

menuentry "English language" {
        configfile /boot/grub/magos/grub_en.cfg
}
