#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon[ru_RU]=gnome-alsamixer
Exec=gnome-alsamixer
Name[ru_RU]=gnome-alsamixer
Comment[ru_RU]=Регулятор грокости для ALSA
Name=gnome-alsamixer
Comment=Регулятор грокости для ALSA
Icon=gnome-alsamixer
