[Desktop Entry]
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Type=Service
Actions=dir2xzm;dir2noxzm;dir2xzm-root;dir2noxzm-root;open-as-root;nfs;smb;ftp;

[Desktop Action dir2xzm]
Name=Compress into the xzm module
Name[ru]=Свернуть каталог в xzm модуль
Icon=application-x-xzm-compressed-tar
Exec=dir2xzm %f %f.xzm

[Desktop Action dir2noxzm]
Name=Pack into the noxzm module
Name[ru]=Свернуть каталог в xzm без сжатия
Icon=application-x-xzm-compressed-tar
Exec=dir2xzm -b %f %f.noxz.xzm

[Desktop Action dir2xzm-root]
Name=Compress into the xzm module (root)
Name[ru]=Свернуть каталог в xzm модуль (root)
Icon=application-x-xzm-compressed-tar
Exec=kdesu dir2xzm %f %f.xzm

[Desktop Action dir2noxzm-root]
Name=Pack into the noxzm module (root)
Name[ru]=Свернуть каталог в xzm без сжатия (root)
Icon=application-x-xzm-compressed-tar
Exec=kdesu -с "dir2xzm -b %f %f.noxz.xzm"

[Desktop Action open-as-root]
Name=Open folder as root
Name[ru]=Открыть с правами root
Icon=folder-red
Exec=kdesu dolphin %f

[Desktop Action nfs]
Name=nfs share
Name[ru]=Временный доступ по NFS
Icon=folder-remote-nfs
Exec=kdesu share.nfs %f

[Desktop Action smb]
Name=smb share
Name[ru]=Временный доступ по smb
Icon=folder-remote-smb
Exec=kdesu share.smb %f

[Desktop Action ftp]
Name=ftp share
Name[ru]=Временный доступ по ftp
Icon=folder-remote-ftp
Exec=kdesu share.ftp %f
