source /boot/grub/magos/gfxmenu.cfg

if test -f /isomode ;then
menuentry "MagOS Linux - Run from ISO" {
        linux /MagOS/vmlinuz vga=791 splash=silent plymouth.enable=0 vt.global_cursor_default=1 uird.silent uird.from=/MagOS lang=en
        initrd /MagOS/uird.magos.cpio.xz
}
fi

menuentry "MagOS Linux with saving data" {
	if test ! -d /MagOS ;then search --set=root --no-floppy --file /MagOS/MagOS.sgn ; fi
        search --set=root --no-floppy --file /MagOS/MagOS.sgn
        linux /MagOS/vmlinuz vga=791 splash=silent plymouth.enable=0 lang=en uird.home=home.img uird.mode=machines
        initrd /MagOS/uird.magos.cpio.xz
}

menuentry "MagOS Linux - Clean mode" {
	if test ! -d /MagOS ;then search --set=root --no-floppy --file /MagOS/MagOS.sgn ; fi
        linux /MagOS/vmlinuz vga=791 splash=silent plymouth.enable=0 lang=en
        initrd /MagOS/uird.magos.cpio.xz
}

if test -d /MagOS.bak ;then
menuentry "MagOS Linux - Clean mode (previous version)" {
        linux /MagOS.bak/vmlinuz vga=791 splash=silent plymouth.enable=0 lang=en uird.from=MagOS.bak,MagOS-Data
        initrd /MagOS.bak/uird.magos.cpio.xz
}
fi

#menuentry "MagOS Linux with saving data (initrd)" {
#        if test ! -d /MagOS ;then search --set=root --no-floppy --file /MagOS/MagOS.sgn ; fi
#        linux /MagOS/vmlinuz  root=/dev/ram0 rw vga=791 splash=silent plymouth.enable=0 home=home.img changes=xzm lang=en
#        initrd /MagOS/initrd.gz
#}
#
#menuentry "MagOS Linux - Clean mode (initrd)" {
#        if test ! -d /MagOS ;then search --set=root --no-floppy --file /MagOS/MagOS.sgn ; fi
#        linux /MagOS/vmlinuz vga=791 splash=silent plymouth.enable=0 lang=en root=/dev/ram0 rw
#        initrd /MagOS/initrd.gz
#}

if test -f /boot/grub/magos/grub_loc.cfg ;then
menuentry "Local menu" {
        configfile /boot/grub/magos/grub_loc.cfg
}
fi

if test -f /boot/grub/magos/grub_ru.cfg ;then
menuentry "Russian language - Русский язык" {
        configfile /boot/grub/magos/grub_ru.cfg
}
fi
