[Unit]
Description=MagOS autorun scripts before shutdown event
DefaultDependencies=no
Before=shutdown.target umount.target

[Service]
Type=oneshot
ExecStart=/usr/lib/magos/rc.d/rc.halt.pre
TimeoutSec=15
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target
