#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Yakuake
GenericName=Drop-down Terminal
GenericName[ru]=Выпадающий терминал
Exec=yakuake
Icon=yakuake
Type=Application
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
Comment=A drop-down terminal emulator based on KDE Konsole technology.
Comment[ru]=Эмулятор терминала в стиле Quake, основанный на технологии KDE Konsole.
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
