
[Desktop Entry]
Version=1.0
Name=Play with MPlayer
Name[ru]=Просмотр с помощью MPlayer
Exec=gmplayer dvd://1 -dvd-device %u
Icon=mplayer
StartupNotify=true
Terminal=false
Type=Application
MimeType=x-content/video-dvd;x-content/video-vcd;x-content/video-svcd;x-content/video-blueray;x-content/video-hddvd;
NoDisplay=true
