[Unit]
Description=/usr/sbin/halt.pre Compatibility
ConditionFileIsExecutable=/usr/sbin/halt.pre
DefaultDependencies=no
Before=shutdown.target umount.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/halt.pre
TimeoutSec=15
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target
