[Unit]
Description=/usr/sbin/halt.pre Compatibility
DefaultDependencies=no
Before=shutdown.target umount.target

[Service]
Type=oneshot
ExecStart=/etc/rc.d/rc.halt.pre.MagOS
TimeoutSec=15
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target
