"xsane-version"
"0.998"
"xsane-mode"
0
"tmp-path"
"/tmp"
"working-directory"
"/tmp"
"filename"
"/tmp/scan.tiff"
"filetype"
".tiff"
"cms-function"
0
"cms-intent"
0
"cms-bpc"
0
"image-umask"
95
"directory-umask"
23
"fax-project"
"/tmp/faxproject"
"fax-command"
"sendfax"
"fax-receiver-option"
"-d"
"fax-postscript-option"
""
"fax-normal-option"
"-l"
"fax-fine-option"
"-m"
"fax-viewer"
"ghostscript"
"fax-width"
14136115
"fax-height"
19462881
"fax-left-offset"
0
"fax-bottom-offset"
0
"fax-fine-mode"
1
"fax-ps-flatedecoded"
1
"e-mail-from"
""
"e-mail-reply-to"
""
"e-mail-smtp-server"
""
"e-mail-smtp-port"
25
"e-mail-authentication"
0
"e-mail-auth-user"
""
"e-mail-auth-pass"
""
"e-mail-pop3-server"
""
"e-mail-pop3-port"
110
"e-mail-project"
"/tmp/emailproject"
"e-mail-filetype"
".png"
"multipage-project"
"/tmp/multipage"
"multipage-filetype"
".tiff"
"ocr-command"
"gocr"
"ocr-inputfile-option"
"-i"
"ocr-outputfile-options"
"-o"
"ocr-use-gui-pipe"
0
"ocr-gui-outfd-option"
"-x"
"ocr-progress-keyword"
""
"browser"
"/usr/bin/www-browser"
"jpeg-quality"
5242880
"png-compression"
458752
"tiff-zip-compression"
393216
"tiff-compression16_nr"
32773
"tiff-compression8_nr"
7
"tiff-compression1_nr"
3
"save-devprefs-at-exit"
1
"overwrite-warning"
1
"skip-existing-numbers"
1
"save-ps-flatedecoded"
1
"save-pdf-flatedecoded"
1
"save-pnm16-as-ascii"
0
"reduce-16bit-to8bit"
0
"filename-counter-step"
1
"filename-counter-len"
4
"adf-pages-max"
1
"show-range-mode"
6
"tool-tips"
1
"show-histogram"
0
"show-gamma"
1
"show-batch-scan"
0
"show-standard-options"
0
"show-advanced-options"
0
"show-resolution-list"
0
"length-unit"
655360
"main-window-fixed"
1
"display-icm-profile"
""
"custom-proofing-icm-profile"
""
"working-color-space-icm-profile"
""
"preview-own-cmap"
0
"preview-oversampling"
98304
"preview-gamma"
65536
"preview-gamma-red"
65536
"preview-gamma-green"
65536
"preview-gamma-blue"
65536
"disable-gimp-preview-gamma"
1
"preview-gamma-input-bits"
12
"preview-pipette-range"
3
"gamma"
104857
"gamma-red"
65536
"gamma-green"
65536
"gamma-blue"
65536
"brightness"
0
"brightness-red"
0
"brightness-green"
0
"brightness-blue"
0
"contrast"
0
"contrast-red"
0
"contrast-green"
0
"contrast-blue"
0
"rgb-default"
1
"negative"
0
"auto-enhance-gamma"
1
"preselect-scan-area"
1
"auto-correct-colors"
1
"gtk-update-policy"
1
"medium-nr"
0
"paper-orientation"
0
"preset-area-definitions"
17
"printernr"
0
"printerdefinitions"
1
"printer-name"
"new printer"
"printer-command"
"lpr"
"printer-copy-number-option"
"-#"
"printer-lineart-resolution"
300
"printer-grayscale-resolution"
150
"printer-color-resolution"
150
"printer-width"
13316915
"printer-height"
19306905
"printer-left-offset"
229376
"printer-bottom-offset"
229376
"printer-gamma"
65536
"printer-gamma-red"
65536
"printer-gamma-green"
65536
"printer-gamma-blue"
65536
"printer-icm-profile"
""
"printer-ps-flatedecoded"
1
"printer-embed-csa"
1
"printer-embed-crd"
0
"printer-cms-bpc"
0
"preset-area-name"
"A3 портрет"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
19462882
"preset-area-height"
27525120
"preset-area-name"
"A3 альбом"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
27525120
"preset-area-height"
19462882
"preset-area-name"
"A4 портрет"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
13762560
"preset-area-height"
19462882
"preset-area-name"
"A4 альбом"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
19462882
"preset-area-height"
13762560
"preset-area-name"
"A5 портрет"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
9732096
"preset-area-height"
13762560
"preset-area-name"
"A5 альбом"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
13762560
"preset-area-height"
9732096
"preset-area-name"
"13см x 18см"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
8519680
"preset-area-height"
11796480
"preset-area-name"
"18см x 13см"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
11796480
"preset-area-height"
8519680
"preset-area-name"
"10см x 15см"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
6553600
"preset-area-height"
9830400
"preset-area-name"
"15см x 10см"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
9830400
"preset-area-height"
6553600
"preset-area-name"
"9см x 13см"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
5898240
"preset-area-height"
8519680
"preset-area-name"
"13см x 9см"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
8519680
"preset-area-height"
5898240
"preset-area-name"
"Legal портрет"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
14149222
"preset-area-height"
23304602
"preset-area-name"
"Legal альбом"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
23304602
"preset-area-height"
14149222
"preset-area-name"
"Letter портрет"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
14149222
"preset-area-height"
18310758
"preset-area-name"
"Letter альбом"
"preset-area-xoffset"
0
"preset-area-yoffset"
0
"preset-area-width"
18310758
"preset-area-height"
14149222
