; Sections are read in the order given in base::layout, with section 'base'
; implicitly added at the end. If a config value is given more than once,
; the first entry wins.
;
; If a screen resolution can't be set, 640x480 is used as fallback (and
; section '640x480' added to the layout list).
;
; If the penguin screen is active, section 'penguin' is automatically added
; to the layout list.
;
; Setting livecd=1 implicitly adds section 'live' to the layout list.
;
; Color values: 24 bit RGB (e.g. 0xff0000 = red).
;

[base]
; theme name
theme=MagOS
; product name
product=MagOS
; other sections to read
layout=1024x768
; penguin theme likelihood (in percent, -1 = auto)
penguin=0
; activate speech output
talk=0
; sound volume (0..100)
volume=70
; menu background transparency (0..255)
menu.transparency=0x20
; default font
font.normal=16x16.fnt
; main menu font
font.large=16x16.fnt
; background image
background=back.jpg
; max. visible main menu items
mainmenu.entries=8
; minimal main menu selection bar width
mainmenu.bar.minwidth=300
; main menu selection bar transparency (0..255)
mainmenu.bar.transparency=150
; main menu colors
mainmenu.bar.color=0xffffff
mainmenu.normal.fg=0xffffff
mainmenu.selected.fg=0x000000
; boot option colors
bootopt.label.fg=0xffffff
bootopt.text.fg=0xffffff
; progress bar color
progress.bar.color=0x295202
; menu colors
menu.normal.bg=0xd8deed
menu.normal.fg=0x000000
menu.selected.bg=0x6c6c6c
menu.selected.fg=0xffffff
; window colors
window.bg=0xd8deed
window.fg=0x000000
window.title.bg=0x217b05
window.title.fg=0xffffff
window.title.error.bg=0xc00000
; help system colors
help.link.fg=0x0000a0
help.link.selected.fg=0xffffff
help.link.selected.bg=0x0000a0
help.highlight.fg=0x009000
; panel colors
panel.fg=0xffffff
panel.title.fg=0xffffff
panel.f-key.fg=0xffe050
; default keymap (e.g. de-latin1-nodeadkeys or cz-lat2-us)
keymap=
; replace underscores ('_') with space in menu entries
_2space=1

; show welcome animation
welcome=0
; beep when menu is ready
beep=0
; show keymap menu as submenu in lang dialog
keymap.submenu=0
; system restore menu entry
restore.title=
; add 'lang' option with current locale
addopt.lang=0
; add 'keytable' option with current keymap
addopt.keytable=0
; check min memory size
memcheck=0
; set livecd flag
livecd=0
; move down one menu entry the first time an F-key is used
autodown=0
; apppend *.spl to initrd
spl=0

key.F2=lang
key.F3=magosvideo
key.F4=magosdesktop
key.F5=magos3d
key.F6=magosother
;key.F7=video

[boot]

[800x600]
; screen size
screen.size=800,600
; upper left corner, if x = -1, center horizontally
mainmenu.pos=50,50
; boot option input field position
bootopt.pos=263,500

[1024x768]
; screen size
screen.size=1024,768
; upper left corner, if x = -1, center horizontally
mainmenu.pos=50,100
; boot option input field position
bootopt.pos=263,670
custom_width=1024
custom_height=768
custom_depth=16
