[Desktop Entry]
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,application/x-lzm
Type=Service
Actions=lzm2dir;
X-KDE-Priority=TopLevel

[Desktop Action lzm2dir]
Name=lzm2dir
Name[ru]=Распаковать модуль
Icon=application-x-lzma-compressed-tar
Exec=mkdir $(echo %f | awk -F. '{print $1}') && gksu lzm2dir %f $(echo %f | awk -F. '{print $1}')
