[Desktop Entry]
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,application/x-cd-image
Type=Service
Actions=mount;

[Desktop Action mount]
Name=mount
Name[ru]=Смонтировать
Icon=application-x-cd-image
Exec=kdesu mountiso %f
